.main1 {
  display: flex;
  height: 100vh;
}

.sidebar1 {
  width: 150%;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
  height: 100%;
  overflow: auto;
}

.sidebar-item1 {
  margin-left: 2rem;
  margin-right: 2rem;
  color: #b8b7b7;
  font-weight: 700;
  display: block;
  margin-top: 1rem;
}

.sidebar-item1:hover {
  color: white;
}

.sidebar-title1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.sidebar-title1 span i {
  display: inline-block;
  width: 3rem;
}

.sidebar-title1 .toggle-btn1 {
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar-item1.open1 .sidebar-title1 .toggle-btn1 {
  transform: rotate(180deg);
}

.sidebar-content1 {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  margin-left: 3rem;
}

.sidebar-content1 a {
  color: #adadad;
  margin-top: 0.4rem;
}

.sidebar-content1 a:hover {
  color: white;
}

.sidebar-item1.open1 .sidebar-content1 {
  height: auto;
}